@import './fonts.css';

html {
    --evjf-beige: 234,204,144;
}

body {
    background-image: url('../images/parchment.png');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
